<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Paul</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"></link>
  <script src="/webjars/1.11.1/jquery.min.js"></script>
  <script src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron text-center">
	  <h1>Home Page</h1>
	</div>
	  
	<div class="container">
	  <h2>New a user</h2>
	  <form role="form" method="POST" th:action="@{/user/create/new}">
	    <div class="form-group">
	      <label>Name:</label>
	      <input type="text" class="form-control" name="name" placeholder="Enter name"></input>
	    </div>
	    <div class="form-group">
	      <label>Email:</label>
	      <input type="email" class="form-control" name="email" placeholder="Enter email"></input>
	    </div>
	    <button type="submit" class="btn btn-default">Submit</button>
	  </form>
	</div>

</body>
</html>

